<%= form_with model: @photo, local: true do |f|%>
  <div class="field">
    <%= f.label :content, "今、どんな気持ち？" %><br />
    <%= f.text_field :content, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :image, "今、どんな空？" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>