<div class="card">
  <%= link_to image_tag("sample_01.JPG", class: :card__img ), '#' %>
  <div class="card__body">
    <%= link_to '(sample)明日は晴れかな？？', '#', class: :card__title%>
  </div>
  <div class="card__date">
    <%= '2022/05/01 12:20:22' %>
  </div>
</div>

<div class="card">
  <%= link_to image_tag("sample_02.JPG", class: :card__img ), '#' %>
  <div class="card__body">
    <%= link_to '(sample)早く帰ろ。。汗', '#', class: :card__title%>
  </div>
  <div class="card__date">
    <%= '2022/05/02 16:34:29' %>
  </div>
</div>

<div class="card">
  <%= link_to image_tag("sample_03.JPG", class: :card__img ), '#' %>
  <div class="card__body">
    <%= link_to '(sample)30分間隔で外に出るかッ', '#', class: :card__title%>
  </div>
  <div class="card__date">
    <%= '2022/05/03 10:23:51' %>
  </div>
</div>